.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin: 32px auto 0 auto;
  max-width: 360px;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
      margin-top: 16px;
  }
}
