.lead__title {
  font-family: 'Inter';
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 0 auto 32px auto;
  max-width: 720px;
  height: fit-content;
  width: calc(100% - 264px);
  min-width: 720px;

}

@media screen and (max-width: 720px) {
  .lead__title {
    min-width: 0;
    margin: 0;
    padding: 0 16px 0 16px;
    font-style: normal;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
    width: calc(100% - 32px);
  }

}