.footer__links{
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
 
}

@media screen and (max-width: 669px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 46px;
  }
}
