.intro__text {
  margin: 40px 0 33px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro__text{
    max-width: 720px;
  }
}

@media screen and (max-width:767px) {
  .intro__text{
    width: fit-content;
  }
}