.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  height: 72px;
  width: 640px;
  color: #FFFFFF;
  margin: 0 0 64px 0;
}