.cover{
  background-image: url(../../images/cover-trains.jpg);
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: relative;
  margin: 92px auto 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  text-decoration: none;
  width: calc(100% - 96px);
}
.cover:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.cover:hover:before{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #2A2C2F;
  opacity: 0.8;

}

@media screen and (max-width: 1279px) {
  .cover{
    min-height: 640px;
    width: 100%;  
  }
}

@media screen and (max-width: 1023px) {
  .cover{
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover{
    margin-top: 66px;
    min-height: 200px;
  }

}

