.cover__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  z-index: 2;
  margin: 0 auto;
  
}

@media screen and (max-width: 767px) {
  .cover__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 35px;
  }
}