.footer {
  height: fit-content;
  width: calc(100% - 48px * 2);
  padding: 0 48px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 24px * 2);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 669px) {
  .footer {
    height: 310px;
    height: fit-content;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    padding-top: 64px;
  }
}